<form class="add-note-container" (submit)="handleAddNote($event)">
  <input type="text" placeholder="Title..." [value]="title || null" (input)="setTitle($event)">

  @switch (type) {

  @case ('txt') {
  <textarea placeholder="How are you today..." [value]="description || null"
    (input)="setDescription($event)"></textarea>
  }
  @case ('img') {
  <div class="img-container">
    <input type="file" #fileInput (change)="handleFileInput($event)" style="display: none;">
    <button type="button" (click)="fileInput.click()">Upload Image</button>
    @if(imgUrl){<img [src]="imgUrl" alt="Uploaded Image Preview">}
  </div>
  }

  @case ('todo') {
  <ul class="todos-container">
    @for (todo of todos; track $index) {
    <li class="todo-item">
      <input class="todo-input" type="text" [class]="todo.isDone ? 'done' : 'active'"
        (change)="setTodoContent($event,todo._id)" [placeholder]="'This is task number #00'+($index+1)">
      <p type="button" class="delete-todo-btn" (click)="removeTodo(todo._id)">&times;</p>
    </li>
    }
    <button type="button" class="add-todo-btn" (click)="addTodo()"
      style="margin-block-end: 40px; margin-block-start: 20px;border-radius: 50%">+</button>
  </ul>

  }
  }
  <div class="icons-container">
    @for (icon of editorIcons; track icon) {
    <ng-icon [name]="icon.svg" class="note-icon" [title]="icon.type" (click)="setType(icon.type)"></ng-icon>
    }
  </div>

  <button>Keep</button>
  @if (isColorPickerOpen) {
  <ul class="colors-container">
    @for (color of colors; track $index) {
    <li class="color-item" [style]="{background: color}" (click)="setSelectedColor(color)"
      [class.selected]="color === selectedColor"></li>
    }
  </ul>
  }

</form>