dialog {
  height: fit-content;
  z-index: 20;
  inset: 0;
  margin: auto;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: black;
  form {
    outline: 1px black solid;
  }
  input ::placeholder {
    color: gray;
  }
  .add-note-container {
    height: fit-content;
    min-width: 450px;
    textarea {
      height: fit-content;
      color: black;
      padding: 10px;
      min-height: 200px;
      font-size: 20px;
      font-weight: 400;
      background-color: transparent;
    }
    img {
      border-radius: 0px 0px 5px 5px;
    }
    input {
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 28px;
    }
    textarea,
    input {
      color: black;
      background-color: transparent;
      ::placeholder {
        color: #333;
      }
    }
  }
}

.todos-layout {
  padding-inline: 10px;
  color: black;
  position: relative;
  padding-block-end: 50px;
  p:focus {
    outline: none;
    border: none;
  }
  p {
    width: 100%;
  }
  ul {
    margin: 0;
  }
  input {
    width: 30px;
  }
  input:before {
    content: "";
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    grid-column: 2;
    margin: 0;
    transition: background-color 0.3s, border-color 0.3s;
    transform: translateY(-13px);
  }
  input:checked:after {
    content: "✓";
    font-family: cursive;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: lightseagreen;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s, border-color 0.3s;
    grid-column: 2;
    margin: 0;
    transform: translateY(-13px);
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s ease;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
@media (max-width: 800px) {
  dialog[_ngcontent-ng-c2654502689] .add-note-container[_ngcontent-ng-c2654502689] textarea[_ngcontent-ng-c2654502689] {
    padding-bottom: 10%;
    min-height: 30vh;
    width: 100vw;
    overflow: unset;
  }
  dialog[_ngcontent-ng-c2654502689] .add-note-container[_ngcontent-ng-c2654502689] {
    border-radius: 0;
  }
}
