@if (noteId) {
<div class="backdrop" (click)="closeDialog()"></div>
<dialog>
  <form (submit)="onUpdateNote($event)" class="add-note-container" [style]="{'background': noteToEdit.color}">
    <input type="text" placeholder="Title..." [value]="noteToEdit.title" name="title">
    @if(noteToEdit.type === 'txt'){
    <textarea placeholder=" How are you today..." [value]="noteToEdit.txt" name="txt"> </textarea>
    }
    @if(noteToEdit.type === 'img'){
    <img [src]="noteToEdit.imgUrl" style="height: auto; width: 100%; object-fit: cover;" />
    }
    @if(noteToEdit.type === 'canvas'){
    <img [src]="noteToEdit.canvas" style="height: auto; width: 100%; object-fit: cover;" />
    }
    @if(noteToEdit.type === 'todo'){
    <div class="todos-layout">
      <ul class="todos-container flex flex-col">
        @for (todo of noteToEdit.todos; track noteToEdit?.todos) {
        <li class="todo-item">
          <input class="todo-input" type="text" [class]="todo.isDone ? 'done' : 'active'" [value]="todo.content"
            maxlength="30" (change)="setTodoContent($event, todo._id)">
          <input type="checkbox" [checked]="todo.isDone" (change)="toggleIsDone(todo._id)">
        </li>
        }
      </ul>
    </div>}
    <button>Keep</button>
  </form>
</dialog>
}