.canvas-container {
  background-color: #333;
  display: block;
  touch-action: none;
  width: 100%;
  height: 136.66px;
  position: relative;
  background-color: #3b3e41;

  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

canvas {
  width: 50%;
  height: 100%;
  border-radius: 10px;
}
