@use "../../main.scss" as *;

:host {
  .note-preview {
    position: relative;
    break-inside: avoid;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &:hover {
      cursor: pointer;
    }
    padding: $inline-space;
    border-radius: $main-border-radius;
    &::before {
      background-color: linear-gradient(#333, #fff);
    }
    scale: 1;
    transition: filter 0.3s, transform 0.3s, scale 0.2s;
    padding-bottom: 40px;
    button {
      opacity: 0.1;
      position: absolute;
      right: 0;
      top: 0px;
      width: 30px;
      height: 30px;
      transition: opacity 0.4s;
      border: none;
      background-color: transparent;

      &:hover {
        background-color: rgba(0, 0, 0, 0.322);
        color: white;
        opacity: 1;
        border-radius: 0 5px 0 5px;
        cursor: pointer;
      }
    }
    .icons-container {
      position: absolute;
      bottom: 0;
      display: flex;
      transition: opacity 0.2s ease-in;
      gap: 10px;
      width: 100%;
      left: 0;
      padding: 5px 0px;
      align-items: center;
      justify-content: space-evenly;
      background-color: #ffffff0c;
      outline: 1px solid rgba(0, 0, 0, 0.267);
      opacity: 0;
      &.hovered {
        opacity: 1;
      }
    }
  }
}

.note-preview.hovered {
  scale: 1.02;
  .icons-container {
    opacity: 1;
  }
}

.notes-layout {
  columns: 300px auto;
  column-gap: $inline-space;
  .note-preview {
    margin-block-end: $inline-space;
  }
}
