$bgc-001: gainsboro;
$bgc-002: rgba(119, 136, 153, 0.616);
$bgc-003: rgba(119, 136, 153, 0.178);

$font-color-001: #101010;
$font-color-002: #101010a8;
$font-color-003: rgba(61, 61, 61, 0.082);

$font-family-001: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Arial;

$inline-space: 10px;
$notes-space: 12px;
$main-border-radius: 5px;
$svg-font-size: 30px;
