* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #272727;
  font-family: $font-family-001;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
}

input:focus {
  outline: none;
}
input {
  border: none;
  padding-inline-start: 10px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

svg {
  @include svgStyle;
}
