.main-layout {
  display: grid;
  grid-template-rows: 64px 1fr;
  grid-template-columns: auto 1fr;
  transition: grid-template-columns 0.3s ease-in-out;
  min-height: 100vh;

  z-index: 1;
}

// ?navbar
.navbar {
  transition: 0.4s ease-in;
  color: #fff;
  z-index: 10;
  position: sticky;
  top: 0;
  background-color: #2e2e2e;
  padding-inline-start: $inline-space;
  padding-inline-end: $inline-space;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 200px 1fr auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  &.closed {
    input {
      font-size: 1rem;
    }
    grid-template-columns: 42px 1fr auto;
  }
}

// ?sidebar
.sidebar {
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  width: 200px;
  background-color: #2e2e2ef5;
  color: #fff;
  position: sticky;
  top: 64px;
  grid-column: 1;
  grid-row: 2;
  max-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  transition: width 0.4s ease-in;
  will-change: width;
  .sidebar-link {
    transition: all 0.4s;
    height: 39px;
    p {
      font-size: 1rem;
      transition: font-size 0.35s ease-in-out;
      opacity: 1;
      width: fit-content;
    }
    padding: $inline-space;
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    &.selected {
      background-color: #10101065;
    }
  }

  &.closed {
    width: 44px;

    p {
      font-size: 0;
    }
  }
  & &.closed {
    width: 44px;

    p {
      font-size: 0;
    }
  }
  .sidebar-link {
    &:hover {
      cursor: pointer;
      background-color: #10101027;
    }
  }
}

.notes-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

// ?note-index
.note-index {
  position: relative;
  max-width: 100%;
  display: grid;
  padding: 10px;
  grid-row: 2;
  grid-column: 2;
  height: fit-content;
  padding: 10px;
  break-inside: avoid;
  padding-inline-end: 15px;
}

.closed-index {
  width: 100%;
}

@media (max-width: 800px) {
  .navbar,
  .navbar.closed {
    grid-template-columns: 44px 1fr auto;
  }
  .header-input {
    min-width: unset;
    width: 97%;
  }
  .main-layout {
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 35px 1fr;
    will-change: grid-template-columns;
    transition: grid-template-columns 0.2s ease-in-out;
    min-height: 100vh;
    .note-index {
      padding-inline-start: 20px;
      padding-inline-end: 10px;
    }
    z-index: 1;
  }

  .closed-index {
    width: 100%;
  }
  .open-index {
    will-change: width;

    .sidebar {
      will-change: width;
      width: 150px;
    }
  }
}
